OCR_PROVIDER=textract
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AI_CLEANUP_PROVIDER=rules
BEDROCK_REGION=us-east-1
BEDROCK_MODEL_ID=amazon.nova-lite-v1:0
FRONTEND_ORIGINS=https://mockocr.com,https://www.mockocr.com
